<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="Stylesheet" href="../public/stylesheets/about.css" />
    <link rel="Stylesheet" href="../public/stylesheets/navbar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <!--NAVBAR-->
      <section class="navbar">
        <span class="nav-title">Hosting Website</span>
        <div class="nav-links">
          <a href="../index.html" class="nav-item">Home</a>
          <a href="./about.html" class="nav-item active">About</a>
          <a href="./contact.html" class="nav-item">Contact</a>
          <a href="./login.html" class="nav-item">Login</a>
        </div>
      </section>
    </header>

    <section class="about-section">
      <div class="about-container">
        <h1 id="about-heading">About Us</h1>
        <img
          src="../public/images/image-2.jpg"
          id="about-img"
          width="150"
          height="150"
        />
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quam,
          doloremque ducimus asperiores rem vero sit culpa eius minima
          repudiandae sunt, aperiam facere quo dolorum nihil expedita minus
          doloribus aspernatur. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. At natus ullam voluptatem velit veritatis delectus
          laudantium facere fuga placeat vel blanditiis, quo culpa impedit
          nesciunt sapiente illum hic nobis praesentium!
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi porro,
          laborum praesentium earum doloribus voluptatibus at corrupti sit
          cumque beatae delectus ex dolorum. Aliquam laboriosam iusto,
          asperiores repellat cumque temporibus. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Corrupti blanditiis porro fuga facere
          est delectus magni, omnis et similique obcaecati, eos, illum doloribus
          accusamus. Dolorum voluptate architecto tempora doloribus obcaecati!
        </p>
        <p class="about-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi porro,
          laborum praesentium earum doloribus voluptatibus at corrupti sit
          cumque beatae delectus ex dolorum. Aliquam laboriosam iusto,
          asperiores repellat cumque temporibus. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Corrupti blanditiis porro fuga facere
          est delectus magni, omnis et similique obcaecati, eos, illum doloribus
          accusamus. Dolorum voluptate architecto tempora doloribus obcaecati!
        </p>
      </div>
    </section>

    <section class="pricing-section">
      <h1 class="pricing-heading">Our Fair Pricing</h1>
      <h2 class="pricing-title">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        distinctio minus
      </h2>
      <div class="cards-container">
        <div class="adv-card">
          <span class="adv-text">We provide the best price out there</span>
        </div>
        <!-- CARD 1-->
        <div class="price-card">
          <div class="price-plan">BASIC</div>
          <div class="price-amt">$29</div>
          <ul class="feature-list">
            <li>1 full user</li>
            <li>5 contacts per client</li>
            <li>5 coffee cups</li>
            <li>1,000 Email Previews</li>
          </ul>
          <div class="btn-container">
            <button class="buy-btn">BUY NOW</button>
          </div>
        </div>

        <!-- CARD 2-->
        <div class="price-card">
          <div class="price-plan">ADVANCED</div>
          <div class="price-amt best-card">$59</div>
          <ul class="feature-list">
            <li>10 full users</li>
            <li>2,000 Email Previews</li>
            <li>20 contacts per client</li>
            <li>20 cups of coffee</li>
          </ul>
          <div class="btn-container">
            <button class="buy-btn">BUY NOW</button>
          </div>
        </div>

        <!-- CARD 3-->

        <div class="price-card">
          <div class="price-plan">BUSINESS</div>
          <div class="price-amt">$139</div>
          <ul class="feature-list">
            <li>20 full user</li>
            <li>unlimited contacts</li>
            <li>100 coffee cups</li>
            <li>unlimited Email Previews</li>
          </ul>
          <div class="btn-container">
            <button class="buy-btn">BUY NOW</button>
          </div>
        </div>
      </div>
    </section>

    <section id="accordian-section">
      <h1 class="pricing-heading">FAQ</h1>
      <h2 class="pricing-title">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi
        distinctio minus
      </h2>
      <div id="accordian-container">
        <button class="accordion">What is Web Hosting Service ?
          <span class="accordion-arrow-icon"><i class="fa-solid fa-angles-down"></i></span>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat repellat officia quos praesentium corrupti, reiciendis provident eius numquam quibusdam commodi quis delectus vel quam, excepturi inventore vero, tempore nam. Enim!</p>
        </div>

        <button class="accordion">How Much Does Web Hosting Cost? 
          <span class="accordion-arrow-icon"><i class="fa-solid fa-angles-down"></i></span>
        </button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem enim est in officiis natus quos eius? Corporis dolores, ad, dicta tempore molestiae nihil expedita aliquid, modi perspiciatis et similique?</p>
        </div>

        <button class="accordion">How We Help You?
          <span class="accordion-arrow-icon"><i class="fa-solid fa-angles-down"></i></span>
        </button>
        
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, corporis ducimus. Corporis esse quidem necessitatibus dolore modi, eos, tenetur culpa libero voluptatibus nobis delectus optio dolores, maxime laudantium sint. Omnis.</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Sample Footer text here</p>
      <p>Website Templates created by ilyas dabholkar</p>
    </footer>

    <script src="../public/javascripts/accordian.js"></script>
  </body>
</html>
