* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }
/*
    NAVBAR
*/
.navbar {
  display: flex;
  height: 10vh;
  background-color: #2f4ace;
  justify-content: space-around;
}
.nav-title {
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: snow;
}
.nav-links {
  width: 40%;
  display: flex;
  font-size: 1rem;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
}
.nav-item {
  color: snow;
  text-decoration: none;
}

.active {
  background-color: #fff;
  padding: 2%;
  color: #2f4ace;
  border-radius: 6px;
}

.nav-links :hover {
  background-color: #fff;
  padding : 2%;
  color: #2f4ace;
  border-radius: 6px;
}

@media only screen and (max-width: 600px) {
  .navbar{
    display: flex;
    height: auto;
    padding: 2%;
    flex-direction: column;
    background-color: #2f4ace;
    justify-content: space-around;
    align-items: center;
  }

  .nav-links{
    width: 100%;
  }

  .nav-title{
    font-size: 2rem;
    margin-bottom: 2%;
  }
}